[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/bots/example/
ExecStart=/home/user/bots/example/tg_bot.py
Restart=always
RestartSec=3
SyslogIdentifier=tg_bot

[Install]
WantedBy=multi-user.target
